[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

pytelegrambotapi = "*"
vk_api = "*"
apiai = "*"
geopy = "*"
geolocation-python = "*"
urllib3 = "*"
certifi = "*"
wikipedia = "*"


[requires]

python_version = "3.6"
